.red {
  background-color: red;
  display: block;
  width: 100px;
  height: 30px;
}

.amber {
  background-color: orange;
  display: block;
  width: 100px;
  height: 30px;
}

.green {
  background-color: green;
  display: block;
  width: 100px;
  height: 30px;
}
